.filter-sorter {
    background: #f4f4f4;
    input {
        margin-right: 10px;
    }
    .clear {
        width: 100%;
        text-align: center;
        background-color: #ececec;
        margin-top: 10px;
        input {
            display: none;
        }
    }
    .input-range {
        width: 100%;
    }
    .count-collection-item {
        margin: auto;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
