.category-preview {
    background-color: #f4f4f4;
    padding-top: 32px;
    padding-bottom: 32px;
    user-select: none;
    &__title {
        font-style: normal;
        padding-left: 0.5rem;
        padding-bottom: 2rem;
        width: 100%;
        z-index: 1;
        color: #000000;
        font-family: "D-DIN Condensed", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        font-size: 2.8125rem;
        letter-spacing: 0.625rem;
    }
    &__list {
        display: flex;
    }
}
.flicking {
    height: 45vw;
}
