.cart-item {
    display: flex;
    align-items: center;
    &__add-remove,
    &__delete {
        min-height: 30px;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 5px;
        line-height: 0;
    }
    &__add-remove {
        background-color: #dbdcde54;
    }
    &__cofiguration {
        font-weight: 100;
        font-size: 12px;
        display: block;
        i {
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
        }
    }
    &__detail {
        width: 70%;
        padding: 10px 0 10px 12px;
    }
    &__end {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
    }
    &__name {
        font-size: 14px;
    }
    &__price,
    &__total-price {
        margin-left: auto;
        font-weight: 200;
    }
    &__quantity {
    }
    &__thumbnail-contain {
        width: 30%;
        padding: 16px;
        background-color: #fff;
    }
    &__thumbnail-image {
    }
}
